.form{
  background: #fff;
  background: var(--white);
  border-radius: 0.25rem;
  border-radius: var(--borderRadius);
  box-shadow: 0 4px 6px -1px rgba(0,0,0,.1), 0 2px 4px -1px rgba(0,0,0,.06);
  box-shadow: var(--shadow-2);
  margin: 3rem auto;
  max-width: 500px;
  max-width: var(--fixed-width);
  padding: 2rem 2.5rem;
  transition: all .3s ease-in-out;
  transition: var(--transition);
  width: 90vw;
}